In [ ]:
#Teste Algoritmo

In [1]:
import pandas as pd

tabelaBelo = pd.read_csv('dadosBeloJardim.csv',delimiter=',',encoding='ISO-8859-1')
display(tabelaBelo)

tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO']] = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO']].fillna(0)

display(tabelaBelo)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210052156280,2021,3,F,1,3,1,2,0,2,...,A,A,A,A,A,A,B,A,A,B
1,210051425418,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,B,A,E,A,B,B
2,210051149388,2021,3,F,1,3,1,2,0,2,...,B,A,A,C,A,A,D,A,A,B
3,210052802404,2021,2,M,0,3,1,2,0,2,...,B,A,B,B,A,A,E,A,B,B
4,210053874305,2021,2,M,1,1,1,2,0,2,...,A,A,A,B,A,A,A,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,210051869561,2021,3,M,1,3,1,2,0,2,...,B,A,A,B,B,A,E,A,A,B
257,210052141678,2021,4,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B
258,210053010359,2021,4,F,1,1,1,2,0,2,...,B,A,A,B,A,A,C,A,A,B
259,210051932113,2021,3,F,2,3,1,2,0,2,...,A,A,A,B,A,A,A,A,A,B
260,210054283159,2021,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,A

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210052156280,2021,3,F,1,3,1,2,0,2,...,A,A,A,A,A,A,B,A,A,B
1,210051425418,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,B,A,E,A,B,B
2,210051149388,2021,3,F,1,3,1,2,0,2,...,B,A,A,C,A,A,D,A,A,B
3,210052802404,2021,2,M,0,3,1,2,0,2,...,B,A,B,B,A,A,E,A,B,B
4,210053874305,2021,2,M,1,1,1,2,0,2,...,A,A,A,B,A,A,A,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,210051869561,2021,3,M,1,3,1,2,0,2,...,B,A,A,B,B,A,E,A,A,B
257,210052141678,2021,4,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B
258,210053010359,2021,4,F,1,1,1,2,0,2,...,B,A,A,B,A,A,C,A,A,B
259,210051932113,2021,3,F,2,3,1,2,0,2,...,A,A,A,B,A,A,A,A,A,B
260,210054283159,2021,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,A

In [14]:
#Transformando dados
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
tabelaBelo['Q025'] = tabelaBelo['Q025'].replace({'A': 0, 'B': 1})
display(tabelaBelo['Q025'])
tabelaBelo['Q024'] = tabelaBelo['Q024'].replace({'A': 0, 'B': 1,'C': 1, 'D': 1, 'E': 1})
display(tabelaBelo['Q024'])
cont = tabelaBelo['Q024'].value_counts()
print(cont)

tabelaBelo['NU_NOTA_TOTAL'] = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO']].mean(axis=1)
tabelaBelo['DESEMPENHO'] = tabelaBelo.apply(lambda x: 1 if(x['NU_NOTA_TOTAL'] >= 500) and
                                                                       (x['Q025'] == 1) and 
                                                                       (x['Q024'] == 1) 
                                                                       else 0, axis=1)

print("Tabela de desenpenho: ")
print(tabelaBelo['DESEMPENHO'].value_counts())

X = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO','Q025','Q024']]
y = tabelaBelo['DESEMPENHO']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = GaussianNB()
model.fit(X_train, y_train)

# 5. Testar o modelo
y_pred = model.predict(X_test)

# 6. Avaliar o desempenho do modelo
acc = accuracy_score(y_test, y_pred)
print(f'AcurÃ¡cia: {acc}')


novo_estudante = pd.DataFrame({
    'NU_NOTA_CN': [400],
    'NU_NOTA_CH': [400],
    'NU_NOTA_LC': [400],
    'NU_NOTA_MT': [400],
    'NU_NOTA_REDACAO': [400],
    'Q025': [1],
    'Q024': [1]
})

# Prever o desempenho do estudante com o modelo treinado
probabilidade = model.predict_proba(novo_estudante)[:,1]

# Exibir a probabilidade de desempenho satisfatÃ³rio do estudante
print(f"A probabilidade de desempenho satisfatÃ³rio do estudante Ã© de {probabilidade[0]*100:.2f}%.")

0      1
1      1
2      1
3      1
4      1
      ..
256    1
257    1
258    1
259    1
260    0
Name: Q025, Length: 261, dtype: int64

0      0
1      1
2      0
3      1
4      1
      ..
256    0
257    0
258    0
259    0
260    0
Name: Q024, Length: 261, dtype: int64

0    138
1    123
Name: Q024, dtype: int64
Tabela de desenpenho:
0    187
1     74
Name: DESEMPENHO, dtype: int64
AcurÃ¡cia: 0.8734177215189873
A probabilidade de desempenho satisfatÃ³rio do estudante Ã© de 68.21%.